<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="LoginMapper">

    <!--회원가입-->
    <insert id="register">
        INSERT INTO FL_EMP_ADMIN (
            EMP_NO
            EMP_NM
            EMP_EMAIL
            PJT_EMP_DIV_C
            PJT_JG_C
            EMP_PHONE_NO
            EMP_EMER_NO
            EMP_JOIN_DATE
            PJT_DEPT_C
            PJT_LV_C
            PJT_POS_C
            PJT_DUTY_C
        )
        VALUES ( #{userId}
               , #{userPass}
               , #{userName})
    </insert>

    <!-- 로그인 -->
    <select id="login" resultType="">
        SELECT USERID, USERPASS
        FROM MP_MEMBER
        WHERE USERID = #{userId}
          AND USERPASS = #{userPass}
    </select>

</mapper>