<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.leedh.mapper.UserMapper">

    <!--회원가입-->
    <insert id="register" parameterType="EmpVO">
       INSERT ALL
        INTO FL_EMP
        VALUES (#{empNo},
            #{empNm},
            #{empPw},
            #{empEmail},
            #{empPhoneNo},
            #{empEmerNo},
            #{empJoinDate},
            #{pjtPosC},
            #{pjtLvC})
        INTO FL_EMP_ADMIN (EMP_NO, EMP_EMAIL,JOIN_DATE,EMP_AUTH)
        VALUES (#{empNo},#{empEmail},to_char(sysdate,'yyyy.mm.dd hh24:mi'),'EMP')
        SELECT * FROM dual;

    </insert>

    <!-- 사용자 정보 여부 조회 -->
    <select id="selectUser" parameterType="EmpVO" resultType="Integer">
        SELECT COUNT(*)
        FROM FL_EMP
        WHERE EMP_EMAIL = #{empEmail};
    </select>

    <!-- 사용자 정보 조회(1명) -->
    <select id="selectEmpInfo" parameterType="EmpVO" resultType="EmpVO">
        SELECT * FROM FL_EMP
        WHERE EMP_EMAIL = #{empEmail}
    </select>

    <!-- 사용자 목록 조회(전체) -->
    <select id="selectUserInfoList" resultType="EmpVO">
        SELECT * FROM FL_EMP
    </select>

    <select id="selectEmpAuthOne" parameterType="EmpVO" resultType="EmpVO">
        SELECT EMP_AUTH FROM
        FL_EMP_ADMIN WHERE EMP_EMAIL= #{empEmail}
    </select>

</mapper>